* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #2B2A33;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    padding: 16px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.output-area {
    padding: 16px;
    height: 100px;
    background-color:gray;
    border-radius: 16px;
    border: lightgray solid 4px;
    font-size: 32px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.input-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 4px;
}

.btn {
    padding: 8px 16px;
    font-size: 24px;
    flex: 1;
    border-radius: 16px;
}

#equals {
    background-color: lightskyblue;
}

.digit {
    background-color: lightgray;
}

.operator {
    background-color: gray;
    font-weight: bold;
}

.row {
    display: flex;
    flex: 1;
    gap: 4px;
}

.btn:hover {
    background-color: gray;
}

#clear-btn {
    height: 100%;
    margin-left: auto;
    flex: 0 1 25%;
}